@using Microsoft.AspNetCore.Components.Authorization

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">

        <AuthorizeRouteView RouteData="routeData"
                            DefaultLayout="typeof(Layout.MainLayout)">

            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>

            <Authorizing>
                <div class="d-flex justify-center py-8">
                    <MudProgressCircular
                        Indeterminate="true" />
                </div>
            </Authorizing>

        </AuthorizeRouteView>

        <FocusOnNavigate RouteData="routeData"
                         Selector="h1" />

    </Found>

    <NotFound>
        <LayoutView Layout="typeof(Layout.MainLayout)">
            <Pages.NotFound />
        </LayoutView>
    </NotFound>
</Router>